@model Persona
@{
    ViewData["Title"] = "Inicio de sesión";
}

<div class="row mt-5">
    <div class="col-sm-4 offset-sm-4">
        <div class="text-center">
            <form asp-controller="Home" asp-action="Login" method="post">
                <img class="mb-4" src="~/img/Avatar-Login.png" alt="" width="200" height="180">
                <h1 style="color: white;" class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
                <div class="mb-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="name@example.com" asp-for="Email">
                        <label for="exampleInputEmail1">Correo electrónico</label>
                        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más..</div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="Password1" placeholder="Password" asp-for="Contrasenia">
                        <label for="exampleInputPassword1">Contraseña</label>
                    </div>
                </div>
                <button class="w-100 btn btn-lg btn-primary" onclick="validarLogin()" type="submit">Ingresar</button>
                <p class="mt-5 mb-3 text-muted">© 2022</p>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" scr="~/js/site.js"></script>