@model AppGimnasioMVC.Models.Entrenador
@{
    ViewData["Title"] = "Editar entrenador";
}

<div class="row">
    <div class="col-sm-7 offset-2">
        <div class="card border">
            <div class="card-header">
                <h2 class="text-info">Editar Entrenadores</h2>
            </div>
            <div class="card-body">
                <form asp-controller="Entrenador" asp-action="Editar" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!--Enviar el ID del cliente como campo oculto-->
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="NumeroIdentificacion" class="control-label"></label>
                        <input asp-for="NumeroIdentificacion" class="form-control" placeholder="Ingresar número de identificación sin punto ni guiones" />
                        <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoDocIdentificacion" class="control-label"></label>
                        <select class="form-select" aria-label="Default select example" asp-for="TipoDocIdentificacion" asp-items="Html.GetEnumSelectList<TipoDocId>()">
                        </select>
                        <span asp-validation-for="TipoDocIdentificacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" placeholder="Ingrese los nombres" />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" placeholder="Ingrese los apellidos" />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" placeholder="Ingrese la dirección" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="usuario@dominio.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contrasenia" class="control-label"></label>
                        <input asp-for="Contrasenia" class="form-control" placeholder="Contraseña" />
                        <span asp-validation-for="Contrasenia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" placeholder="Ingrese el número de celular de 10 digitos" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaNacimiento" class="control-label"></label>
                        <input asp-for="FechaNacimiento" class="form-control" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Genero" class="control-label"></label>
                        <select class="form-select" aria-label="Default select example" asp-for="Genero" asp-items="Html.GetEnumSelectList<Genero>()">
                        </select>
                        <span asp-validation-for="Genero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rol" class="control-label"></label>
                        <input asp-for="Rol" class="form-control" value="@Rol.Entrenador" placeholder="Ingrese el Rol" readonly />
                        <span asp-validation-for="Rol" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroCuenta" class="control-label"></label>
                        <input asp-for="NumeroCuenta" class="form-control" placeholder="Ingrese el número de cuenta" />
                        <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch">
                        <label class="form-check-label" asp-for="Bloqueado"></label>
                        <input class="form-check-input" type="checkbox" asp-for="Bloqueado" />
                        <span asp-validation-for="Bloqueado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Editar Entrenador</button>
                        <a asp-action="Index" class="btn btn-primary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}